@import "../settings/variables";
@use "sass:color";

.error{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  .error-message {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #c70c0c;
    margin-bottom: 15px;
    p {
      margin-bottom: 4px;
    }
  }
}