@use "sass:color";
@import "../settings/variables";

.header{
  width: 100%;
  .header__navbar{
    width: 100%;
    background-color: $color-set1-dark !important;
  }
  .bg-dark{
    background-color: $color-set1-dark !important;
  }
  .header__brand{
    font-weight: 700;
    font-size: 25px;
    background: linear-gradient(to right,
            $color-set1-color,
            lighten($color-set1-color, 10%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover{
      background: linear-gradient(to right,
              darken($color-set1-color, 5%),
              darken($color-set1-color, 15%));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .header__button{}
  .header__list{
    width: 100%;
  }
  .header__list--ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .show{
    //text-align: end;
  }
  .header__item{}
  .header__link{
    &:hover{
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .header__brand {
    font-size: 22px !important;
  }
}


