@use 'sass:color';
@import "../settings/variables";

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.projectCardDetails{
  min-height: calc(100vh - 153px);
  display: flex;
  justify-content: center;
  align-items: center;
  .project__cardCD {
    margin: 10px;
    background-color: lighten($color-set1-light, 10%);
    background-color: $color-set1-lighter;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darken($color-set1-color, 10%);
  }
  .cardCD__container {
    border: 1px solid darken($color-set1-color, 10%);
    margin: 0;
    padding: 0;
    border-radius: 0.25rem;
    background-color: $color-set1-light;
  }
  .cardCD_picture{
    padding: 10px;
  }
  .cardCD__image {
    border-radius: 0.25rem;
    border: none;
    margin: 0;
    padding: 0;
  }
  .cardCD__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    margin: 0;
  }
  .cardCD__title {
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    line-height: 1.5;
  }
  .cardCD__text {
    //font-family: $font-alternative;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 1.2;
  }
  .cardCD__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .cardCD__btn {
    font-family: $font-alternative;
    text-align: center;
    font-weight: 600;
    background: $color-set1-dark;
    border-color: $color-set1-dark;
    color: lighten($color-set1-light, 20%);
    color: $color-set1-lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    .button__image {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      fill: $color-set1-color;
    }
    &:hover {
      color: $color-set1-light;
      background: darken($color-set1-dark, 20%);
      .button__image {
        fill: darken($color-set1-color, 10%);
      }
    }
  }
  .cardCD__btn--svg{
    width: 120px;
    height: 40px;
  }
  .cardCD__textarea{
    font-family: $font-alternative;
    align-self: flex-start;
    margin-bottom: 0px;
  }
  .textarea__title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
  }
  .textarea__list{}
  .textarea__item{
    &:nth-of-type(1){
      margin-top: 10px;
    }
    font-size: 17px;
    list-style: none;
    line-height: 1.3;
  }
  .fa-location-arrow{
    color: $color-set1-color;
    margin-right: 10px;
  }
  .cardCD__text--bottomRWD,
  .cardCD__text--bottomKey{
    font-family: $font-alternative;
    font-size: 16px;
  }
  .cardCD__text--bottomRWD{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .cardCD__text--story{
    font-size: 16px;
    line-height: 1.4;
    text-align: start;
    span{
      font-weight: 700;
    }
  }
  .cardCD__tag {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: $color-set1-color;
  }
  .cardCD__tag--title{
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 1024px){
  .project {
    .projectCardDetails {
      .project__cardCD {
        padding: 30px;
      }
    }
  }
}
@media (max-width: 768px){
  .project {
    .projectCardDetails {
      .cardCD_picture {
        padding: 5px;
      }
      .cardCD__title {
        font-size: 23px;
      }
      .cardCD__text {
        font-size: 15px;
      }
      .textarea__title{
        font-size: 17px;
      }
      .textarea__item{
        font-size: 16px;
      }
      .cardCD__tag--title{
        width: 25px;
        height: 25px;
      }
    }
  }
}
@media (max-width: 450px){
  .project {
    .projectCardDetails {
      padding: 0;
      .project__cardCD {
        padding: 10px;
      }
    }
  }
}