@import "../settings/variables";

.projectsSection {
  margin-top: 50px;
  margin-bottom: 50px;
  .projects__container {}
  .project__cardDeck{
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 415px){
  .container-fluid{
    padding: 0;
  }
  .project__card{
    padding: 10px !important;
  }
  .projects__col{
    padding: 0;
  }
}