$color-set1-dark: #333333;
$color-set1-light: #AEAEAE;
$color-set1-color: #309638;
//$color-set-extra-whiteish: #FFFFFF;
//$color-set-extra-greyish: #9A9FA3;
//$color-set-extra-violetish: #6D4C67;
//$color-set-extra-plumish: #403F4D;

$font-main: 'Poppins', sans-serif;
$font-alternative: 'Anonymous Pro', monospace;
