$color-grey: #737373;
$color-light-grey: #F0F1F1;
$color-dark-grey: #3C3C3C;
$color-gold: #EAA732;

$color-set1-dark: #333333;
$color-set1-light: #AEAEAE;
$color-set1-color: #E54E95;
$color-set1-nav: #343A40;

$color-set2-color: #25383F;
$color-set2-dark: #0E0E0E;
$color-set2-light: #707070;




$font-main: 'Poppins', sans-serif;
$font-alternative: 'Anonymous Pro', monospace;
