@import "./generic/reset";
@import "./settings/variables";
@import "./partials/Header";
@import "./partials/HeroHome";
@import "./partials/Project";
@import "./partials/Contact";
@import "./partials/Footer";




body{
  font-family: $font-main;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $color-set1-light;
}

.svgIconsInfo{
  font-family: $font-alternative;
  font-size: 10px;
  color: $color-set1-dark;
  a{
    color: $color-set1-dark;
    text-decoration: underline;
  }
}