@import "./generic/reset";
@import "./settings/variables";
@import "./partials/Header";
@import "./partials/HeroHome";
@import "./partials/ProjectsSection";
@import "./partials/ProjectCard";
@import "./partials/AboutMe";
@import "./partials/Contact";
@import "./partials/Footer";
@import "./partials/Project";
@import "./partials/ProjectCardDetails";
@import "./partials/BackButton";
@import "./partials/Success";
@import "./partials/Error";

body{
  font-family: $font-main;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $color-set1-light;
}